<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Display Departments</title>
</head>
<style>
  table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
  }
  td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){
    background-color: #dddddd;
  }
</style>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Department</th>
      </tr>
    </thead>
      <tr th:each="empForDept: ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.deptName}"></td>
      </tr>
  </table>
</body>
</html>