<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Department</title>
</head>
<body>
    <form th:action="@{/web/department/update/success}" th:object="${department}" method="POST">

        <label for="id">ID</label>
        <input type="text" id="id" name="id" th:field="*{id}">
        <label for="department">Department</label>
        <input type="text" id="department" name="department" th:field="*{deptName}">
        <input type="submit" value="Update">
    </form>
</body>
</html>