<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/GenericCSS.css">
    <title>Delete Employee</title>
</head>
<body>
<form th:action="@{/web/employee/delete/success}" th:object="${employee}" method="POST">
    <label for="id">ID</label>
    <input type="text" id="id" name="id" th:field="*{id}"><br><br>
    <input type="submit" value="Delete">
</form>
<br>
<div>
    <a th:href="@{/web/user/index}">Home</a>
</div>
</body>

</html>