<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>
<style>
    table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width:100%;
    }
    td, th{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #dddddd;
    }
</style>
<body>
<form th:action="@{/web/employee/update/success}" th:object="${employee}" method="POST">
    <input type="text" id="id" name="id" th:field="*{id}"/>
    <label for="firstName">First Name </label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
    <br/><br/>
    <label for="lastName">Last Name </label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
    <br/><br/>
    <input type="submit" value="Update Employee">
</form>
</body>
</html>