<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User Success Page</title>
</head>
<style>
    table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width:100%;
    }
    td, th{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #dddddd;
    }
</style>
<body>
<span th:unless="${user==null}">
    User: <span th:text="${user.id}"></span> was updated successfully!
</span>
<span th:if="${user==null}">
    Could not update the User with ID: <span th:text="${user.id}"></span>
</span>

</body>
</html>