<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<style>
    table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width:100%;
    }
    td, th{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #dddddd;
    }
</style>
<body>
<form th:action="@{/web/user/delete/success}" th:object="${user}" method="POST">
    <label for="email">User email</label>
    <input type="text" id="email" name="email" th:field="*{email}">
    <br/><br/>
    <label for="password">User Password</label>
    <input type="text" id="password" name="password" th:field="*{password}">
    <br/><br/>

    <input type="submit" value="Delete User">
</form>
</body>
</html>