<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<style>
    table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width:100%;
    }
    td, th{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #dddddd;
    }
</style>
<body>
<form th:action="@{/web/user/delete/success}" th:object="${user}" method="POST">
    <label for="id"> Delete by User ID</label>
    <input type="text" id="id" name="id" th:field="*{id}">
    <br/><br/>

    <input type="submit" value="Delete User">
</form>
<div>
    <a th:href="@{/web/user/index}">Home</a>
</div>
</body>
</html>